sigpatch-downloader.nacp
sigpatch-downloader.nro
build/download.d
build/download.o
build/main.d
build/main.o
build/sigpatch-downloader.lst
build/sigpatch-downloader.map
build/unzip.d
build/unzip.o
sigpatch-downloader.elf
.vscode/c_cpp_properties.json
romfs/data/fusee.bmp
.gitignore
romfs/data/switch.png
romfs/data/hekate.bmp
